<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
  <!--mandatory keys-->
  <add key="protocol" value="http" />
  <add key="browser" value="Chrome" />
  <add key="urlPlmon" value="http://uiprototype80.dyn.yuniquecloud.com/YuniqueBI/BI/BI_Main.aspx" />
  <add key="urlPlmonDef" value="http://uiprototype80.dyn.yuniquecloud.com/plmOn" />  
  <add key="implicitlyWaitSeconds" value="15" />
  <add key="pageLoadWaitSeconds" value="60 " />

  <!--file uploaders-->
  <!--<add key="fileUploadPath" value="C:\Users\egor\Desktop\pictures\1.jpg" />-->
  <add key="fileUploadPath" value="C:\Users\egor\Desktop\ButterFly\ConsoleApp1\ConsoleApp1.sln" />
  <add key="fileUploadPathSeveral" value='"C:\Users\egor\Desktop\pictures\1.jpg" "C:\Users\egor\Desktop\pictures\2.jpg"' />
  <!--file uploaders-->


  <add key="login" value="userET" />
  <add key="password" value="plmon1234@" />
  <add key="TestDataSheetPath" value="C:\VS projects\PlmonFuncTestNunit\PlmonFuncTestNunit\TestsInputData\TestData.xlsx" />
</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>